* {
  box-sizing: border-box;
}
h1 {
  color: aqua;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
h1 span {
  font-size: 1rem;
}
main {
  padding: 0px 20px;
  display: flex;
}

.row {
  display: flex;
  flex: 100%;
  background-color: rgb(114, 197, 227);
}
article {
  float: left;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  width: 50%;
  background-color: #4bb2d5;
}
header {
  background-color: rgb(102, 134, 231);
  padding: 1px;
  text-align: center;
  font-size: 20px;
  color: white;
}
footer {
  float: left;
  width: 100%;
  background-color: rgb(102, 134, 231);
  padding: 10px;
  text-align: center;
  color: white;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  clear: both;
}
.article :hover {
  background-color: rgb(103, 5, 5);
}

.topnav a:hover {
  background-color: rgb(102, 134, 231);
  color: black;
}
.fakeimg {
  background: #ddd;
  width: 100%;
  padding: 30px;
  height: 200px;
  text-align: center;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  background-color: #331;
  height: 30px 30px 30px 30px;
}

.topnav a {
  width: 100%;
  background-color: rgb(154, 173, 228);
  text-decoration: dashed;
  text-align: center;
  float: center;
}
aside {
  padding-left: auto;
  border-left-color: 5px dotted rgb(204, 102, 102);
  flex-flow: row nowrap;
  display: flex;
  flex: 100%;
  width: 30%;
}

h1 {
  padding-right: 30px;
}

/*@media screen and (min-width: 400px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }
}*/
@media (max-width: 600px) {
  article {
    width: 100%;
    height: auto;
  }
  main{
    flex-direction: column;
  }
}
