body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
}
img {
    width: auto;
    height: 400px;
    border-radius: 50%;
    
}
figcaption{
    text-align: center;
    font-size: 1em;

}
*id{
    font-size:small;
}
#results {
    display: flex;
    flex-flow: row wrap;
}