*{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    padding:60px;
    text-align: center;
    background: rgb(89, 186, 231);
    color: white;
}
nav{
    display: flex;
    flex-flow: row nowrap;
    background-color: #331;;
}
nav a{
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;    
}
nav a:hover{
    background-color: #ddd;
    color: black;
}
.row {
    display: flex;
    row-gap: 10px;   
}
main{
    padding: 0px 20px;
}
aside {
    flex: 30%;
    border-left: 1px dotted #999;
    padding-left: 30px;
}
footer{
    padding: 10px 30px;
    text-align: center;
    background: rgb(89, 186, 231);
}
article{
    display: flex;
    flex-flow: row wrap;
}
article h1{
    flex:100%;
}
article .blogtext{
    flex:70%;
    padding:0 0 0 30px;

}

article .fakeimg{
    width: 20%;
    height: 200px;
}
.fakeimg{
    background: #ddd;
    width: 100%;
    padding: 30px;
    height:200px;
    text-align: center;

}
.fakeimg aside{
    background: #ddd;
    width: 40%;
    padding: 10px;
    height:100px;

}
.fakeimg aside small{
    background: #ddd;
    width: 20%;
    padding: 10px;
    height:100px;
    
}
aside .images{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}